/* start of media query for above 760px */

@media only screen and (min-width: 768px) {
    /* start of pagination */
    .pagination_item h1 {
        font-size: 3rem;
    }
    .pagination_item p {
        font-size: 2.1rem;
    }
    /* End of pagination */
    /* start of service */
    #my_work .section_title {
        font-size: 3.1rem;
    }
    #my_work .my_work_text {
        font-size: 1.6rem;
    }
    #my_work .work_item_container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
    }
    #my_work .work_item {
        background-color: royalblue;
        width: 330px;
        height: 335px;
        margin: 20px 20px 25px 20px;
    }
    .work_item h2 {
        font-size: 3rem;
    }
    .work_item .work_button {
        font-size: 1.9rem;
        padding: 5px 12px;
        border: 2px solid red;
        border-radius: 2px;
        color: white;
    }
    /* End of service */
    /* start of about me  */
    .about_title {
        font-size: 3.2rem;
    }
    .about_me_wrapper .about_me_text {
        font-size: 1.7rem;
    }
    .about_me_learned {
        font-size: 2.8rem;
    }
    .about_stat_item .stat_name {
        flex-basis: 95%;
    }
    .about_stat_item h2 {
        font-size: 1.6rem;
    }
    /* end of about me  */
    /* start of blog and news */
    .blog_wrapper {
        display: flex;
        align-items: center;
        flex-direction: row;
        overflow: hidden;
        justify-content: center;
        padding-left: 25px;
        gap: 10px;
        padding-bottom: 0;
    }
    .blog_item {
        min-width: 330px;
        height: 330px;
        background-color: yellow;
        margin-bottom: 0;
        margin-right: 35px;
        margin-left: 15px;
    }
    .blog_item:nth-child(3) {
        display: none;
    }
    .blog_item_header a {
        font-size: 2.2rem;
    }
    /* End of blog and news */
    /* start of footer section  */
    .footer_external_link {
        flex-basis: 24%;
    }
    .footer_external_link h3 {
        font-size: 2.3rem;
    }
    .external_link_list li a {
        font-size: 1.7rem;
    }
    .footer_part_1 p {
        font-size: 1.6rem;
    }
    /* End of footer section  */
}


/* End of media query for above 768px */


/* start of media query for screen above 1024px */

@media only screen and (min-width: 1024px) {
    /* Start of navigation */
    #navbar .logo {
        width: 30%;
    }
    #navbar .nav-item {
        position: static;
        background-color: #131313;
        width: 99%;
        margin: 0 auto;
        display: flex;
    }
    .nav-item .nav-content {
        padding: 15px;
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .nav-item .nav-content li {
        padding: 10px;
        margin-bottom: 0;
        margin-right: 74px;
        cursor: pointer;
    }
    .nav-item .nav-content li:nth-child(4) {
        margin-right: 0;
    }
    #navbar .nav_icon {
        display: none;
    }
    /* end of navigation */
    /* start of pagination */
    .pagination_item h1 {
        font-size: 3.5rem;
    }
    .pagination_item p {
        font-size: 2.5rem;
    }
    /* End of pagination */
    /* start of service */
    #my_work .section_title {
        font-size: 3.8rem;
    }
    #my_work .my_work_text {
        font-size: 1.9rem;
    }
    #my_work .work_item {
        background-color: royalblue;
        width: 443px;
        height: 370px;
    }
    .my_work .item_1 {
        background-image: url(../image/my_work/learn_c_2.jpg);
    }
    .my_work .item_2 {
        background-image: url(../image/my_work/learn_git_2.jpg);
    }
    .my_work .item_3 {
        background-image: url(../image/my_work/learn_js_2.jpg);
    }
    .my_work .item_4 {
        background-image: url(../image/my_work/learn_kali_2.jpg);
    }
    .work_item h2 {
        font-size: 4rem;
    }
    .work_item .work_button {
        font-size: 2.3rem;
        padding: 5px 12px;
        border: 2px solid red;
        border-radius: 2px;
        color: white;
    }
    /* End of service */
    /* Start of about me section  */
    .about_me_wrapper {
        flex-direction: row;
        align-items: flex-start;
    }
    .about_title {
        font-size: 3.5rem;
        margin-bottom: 15px;
    }
    .about_me_wrapper .about_me_text {
        font-size: 1.9rem;
        margin-right: 30px;
        flex-basis: 214%;
    }
    .about_me_wrapper .about_me_text p {
        padding: 36px;
    }
    .about_me_learned {
        font-size: 2.9rem;
    }
    .about_stat_item .stat_name {
        flex-basis: 88%;
    }
    .about_stat_item h2 {
        font-size: 1.6rem;
    }
    /* End of about me section  */
    /* start of blog and news */
    .blog_wrapper {
        padding-left: 25px;
        gap: 0px;
    }
    .blog_item {
        min-width: 330px;
        height: 330px;
        background-color: yellow;
        margin-bottom: 50px;
        margin-right: 35px;
    }
    .blog_item:nth-child(3) {
        display: flex;
    }
    .blog_item_date {
        font-size: 1.7rem;
    }
    .blog_item_header a {
        font-size: 2.5rem;
    }
    /* End of blog and news */
    /* start of footer section  */
    .footer_wrapper {
        flex-direction: row;
        justify-content: space-around;
    }
    .footer_part_1 {
        flex-basis: 50%;
    }
    .footer_external_link {
        flex-basis: 24%;
    }
    .footer_external_link h3 {
        font-size: 2.5rem;
    }
    .external_link_list li a {
        font-size: 1.7rem;
    }
    .footer_part_1 p {
        font-size: 1.7rem;
    }
    .copyright p {
        font-size: 1.7rem;
    }
    /* End of footer section  */
}


/* End of media query for screen above 1024px */